<div 
  #desktop 
  class="h-screen w-screen bg-cover bg-center transition-all duration-500 relative" 
  [style.backgroundImage]="'url(' + wallpaperUrl() + ')'" 
  (click)="onDesktopClick()"
  (dragover)="onDesktopDragOver($event)"
  (drop)="onDesktopDrop($event)"
>
  <!-- Desktop Icons -->
  @for(app of launchableApps(); track app.id) {
    <app-desktop-icon 
      [app]="app"
      (launch)="openApp($event)"
      (launchWithFile)="openAppWithFile($event)"
      (dragStart)="onIconDragStart($event)"
    ></app-desktop-icon>
  }

  <!-- Windows -->
  @for (win of windows(); track win.id) {
    @if (win.state !== 'minimized') {
      <app-window
        [window]="win"
        (windowFocus)="focusWindow($event)"
        (windowStateChange)="handleWindowStateChange($event)"
        (windowDrag)="updateWindowState($event.id, { position: $event.position })"
        (windowResize)="updateWindowState($event.id, { size: $event.size })"
        (windowUpdate)="updateWindowState($event.id, $event.changes)"
      >
      </app-window>
    }
  }
</div>

@if (isStartMenuOpen()) {
  <app-start-menu
    [apps]="launchableApps()"
    (launchApp)="openApp($event)"
  ></app-start-menu>
}

<app-taskbar
  [openWindows]="windows()"
  (focusWindow)="focusWindow($event)"
  (minimizeWindow)="handleWindowStateChange({ id: $event, state: 'minimized' })"
  (toggleStartMenu)="toggleStartMenu()"
  (showDesktop)="onShowDesktop()"
  (launchWithFile)="openAppWithFile($event)"
></app-taskbar>
